* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Banner;
  src: url(./Fonts/Bagnard.otf);
}

.Banner {
  font-family: Banner;
}

#bannerLinks > .col {
  display: flex;
  justify-content: center;
}

#bannerLinks > .col > .nav-link {
  font-weight: bold;
  font-family: banner;
  font-size: 1.3rem
}

#SIOptions > button {
  font-size: 1.4rem;
}